@{
    ViewBag.Title = "Home Page";
}

<style>
    p {
        font-size: 16px;    
    }
</style>

<div style="margin-top: 25px; margin-bottom: 35px;">
        @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <img src="~/Content/NFLFantasy.png" style="width: 100%; height: auto;" />
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Teams</h2>
        <p>Discover information about your favorite teams, including their rosters, team statistics, and performance throughout the season. 
        This website offers an in-depth look at each team's strengths and weaknesses, helping you better understand their strategies and achievements.</p>
    </div>
    <div class="col-md-4">
        <h2>Players</h2>
        <p>Explore the profiles of individual players, their positions, and their statistics. Our website provides detailed insights into each player's performance, 
        including their individual achievements, strengths, and areas for improvement. Keep an eye on rising stars and follow the careers of your favorite athletes.</p>
    </div>
    <div class="col-md-4">
        <h2>Schedules &amp; Statistics</h2>
        <p>Stay up to date with the latest game schedules and game results. This website offers comprehensive statistics for every game, 
        enabling you to analyze team and player performances in detail. Dive into historical data to compare past seasons and identify trends that can help you make informed predictions for future games.</p>
    </div>
</div>